
#trident {
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.environImage {
  width: 31.32rem;
  height: 31.32rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
}

.conchItem {
  width: 18.5rem;
  height: 16rem;
  /* margin-left: auto;
  margin-right: auto; */
}

.pearlItem {
  width: 18.5rem;
  height: 18.5rem;
}

.inventoryItem {
  width: 19.5rem;
  height: 16rem;
}

.imageCropper {
  width: 500px; /* Width of your image */
  height: 250px; /* Half of the height of your image */
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
}

.imageCropper img {
  width: 31.32rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  /* position: absolute; */
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
