/* Layout Position */


.widthControl {
  max-width: 600px;
  margin: auto;
}

#helpList {
  display: block;
  text-align: left; 
  margin: auto;
  max-width: 600px;
  padding-top: .5rem;
}

#helpLivesItems {
  display: block;
  text-align: left; 
  margin: auto;
  max-width: 600px;
  padding-top: 2rem;
}


#helpBox {
  position: fixed;
  top: 6%;
  left: 6%;
  right: 6%;
  bottom: 6%;
  background-color: rgba(0, 0, 0, 0.9); /* semi-transparent black */
  color: #f5f5f5; /* off-white */
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
  overflow-y: auto; /* in case of scrolling */
  transition: all 0.3s ease;
}

#lifeLostBox {
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  background-color: rgba(0, 0, 0, 0.9); /* semi-transparent black */
  color: #f5f5f5; /* off-white */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  overflow-y: auto; /* in case of scrolling */
  transition: all 0.3s ease;
}


/* Text Style */

.boldText {
  font-size: 1.2rem;
  font-weight: bold;
}

#helpText {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
}

#helpList li {
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.6;
}

.centerText {
  text-align: center;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Chapter and items position */

.chapter-info {
  position: fixed;
  left: 10px;
  bottom: 10px;
  color: white; 
  padding: 5px;
  border-radius: 5px;
}

#itemsAndLives {
  position: fixed;
  right: 15px;
  bottom: 10px;
}